@{
    ViewData["title"] = "Add User | Also Design";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Add User</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">User</li>
                            <li class="breadcrumb-item color-495057">Add User</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="alert-custom alert-success alert-borderless" role="alert">
                            The user creation module allows administrators to register new users in the system, assigning the appropriate permissions.
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="inEmail" class="form-label">Email</label>
                                <input type="text" class="form-control uppercase-input" id="inEmail" placeholder="Enter email">
                            </div>
                            <div class="col-4">
                                <label for="inUsername" class="form-label">Username</label>
                                <input type="text" class="form-control uppercase-input" id="inUsername" placeholder="Enter username">
                            </div>
                            <div class="col-4">
                                <label for="inPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inPassword" placeholder="Enter password">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-4">
                                <label for="inFirstname" class="form-label">Firstname</label>
                                <input type="text" class="form-control uppercase-input" id="inFirstname" placeholder="Enter firstname">
                            </div>
                            <div class="col-4">
                                <label for="inLastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control uppercase-input" id="inLastname" placeholder="Enter lastname">
                            </div>
                            <div class="col-4">
                                <label for="seStatus" class="form-label">Status</label>
                                <select class="form-select" id="seStatus">
                                    <option value="1">ACTIVE</option>
                                    <option value="2">INACTIVE</option>
                                    <option value="3">LOCKED</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-1">
                                <label for="seGender" class="form-label">Gender</label>
                                <select class="form-select" id="seGender">
                                    <option value="M">M</option>
                                    <option value="H">H</option>
                                </select>
                            </div>
                            <div class="col-5">
                                <label for="inAddress" class="form-label">Address</label>
                                <input type="text" class="form-control uppercase-input" id="inAddress" placeholder="Enter address">
                            </div>
                            <div class="col-3">
                                <label for="inCity" class="form-label">City</label>
                                <input type="text" class="form-control uppercase-input" id="inCity" placeholder="Enter city">
                            </div>
                            <div class="col-3">
                                <label for="inState" class="form-label">State</label>
                                <input type="text" class="form-control uppercase-input" id="inState" placeholder="Enter state">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-2">
                                <label for="inZipcode" class="form-label">Zip Code</label>
                                <input type="text" class="form-control uppercase-input" id="inZipcode" placeholder="Enter zip code">
                            </div>
                            <div class="col-3">
                                <label for="inJobPosition" class="form-label">Job Position</label>
                                <input type="text" class="form-control uppercase-input" id="inJobPosition" placeholder="Enter job position">
                            </div>
                            <div class="col-3">
                                <label for="inProfession" class="form-label">Profession</label>
                                <input type="text" class="form-control uppercase-input" id="inProfession" placeholder="Enter profession (ING, LIC, etc.)">
                            </div>
                            <div class="col-4">
                                <label for="inContactPhones" class="form-label">Contact phone</label>
                                <input class="form-control uppercase-input" id="inContactPhones" data-choices data-choices-limit="10" data-choices-removeItem type="text"/>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-6">
                                <button type="button" class="btn btn-warning w-100per" onclick="reset()">clear</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100per" onclick="add()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../assets/js/pages/userAdd.js"></script>
}