@{
    ViewData["title"] = "Add Inventory | Also Design";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Add Item</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Inventory</li>
                            <li class="breadcrumb-item color-495057">Add Item</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Item information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <label for="inItemCode" class="form-label">Item Code</label>
                                <input type="text" class="form-control uppercase-input" id="inItemCode" placeholder="Enter item code">
                            </div>
                            <div class="col-5">
                                <label for="inItemName" class="form-label">Item Name</label>
                                <input type="text" class="form-control uppercase-input" id="inItemName" placeholder="Enter item name">
                            </div>
                            <div class="col-4">
                                <label for="seStatus" class="form-label">Status</label>
                                <select class="form-select" id="seStatus"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <label for="taDescription" class="form-label">Description</label>
                                <textarea class="form-control fw-medium mb-1 bg-light border-0 height-65px" placeholder="Notes" id="taDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Technical Specifications</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label" for="seMaterial">Material</label>
                                <select class="form-select" id="seMaterial"></select>
                            </div>
                            <div class="col-6">
                                <label for="seFinishType" class="form-label">Finish Type</label>
                                <select class="form-select" id="seFinishType"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-3">
                                <label for="inDiameter" class="form-label">Diameter</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inDiameter" value="0.00">
                            </div>
                            <div class="col-3">
                                <label for="seUnitDiameter" class="form-label">Unit</label>
                                <select class="form-select" id="seUnitDiameter"></select>
                            </div>
                            <div class="col-3">
                                <label for="inLength" class="form-label">Length</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inLength" value="0.00">
                            </div>
                            <div class="col-3">
                                <label for="seUnitLength" class="form-label">Unit</label>
                                <select class="form-select" id="seUnitLength"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-3">
                                <label for="inWeight" class="form-label">Weight</label>
                                <input type="text" class="form-control numerical-mask" id="inWeight" value="0.00">
                            </div>
                            <div class="col-3">
                                <label for="seUnitWeight" class="form-label">Unit</label>
                                <select class="form-select" id="seUnitWeight"></select>
                            </div>
                            <div class="col-3">
                                <label for="inTolerance" class="form-label">Tolerance</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inTolerance" value="0.00">
                            </div>
                            <div class="col-3">
                                <label for="seUnitTolerance" class="form-label">Unit</label>
                                <select class="form-select" id="seUnitTolerance"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Associated Documents</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="inItemImage" class="form-label">Item Image</label>
                                <input id="inItemImage" class="form-control mb-1" type="file">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pt-27px">
                                <label for="inBluePrints" class="form-label">Blueprints</label>
                                <input id="inBluePrints" class="form-control mb-1" type="file">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pt-27px">
                                <label for="inTechnicalSpecifications" class="form-label">Technical Specifications</label>
                                <input id="inTechnicalSpecifications" class="form-control mb-1" type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Additional Remarks</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="taNotes" class="form-label">Notes</label>
                                <textarea class="form-control fw-medium mb-1 bg-light border-0 height-261px" rows="1" placeholder="Notes" id="taNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Inventory Management</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label" for="seWarehouseLocation">Warehouse Location</label>
                                <select class="form-select" id="seWarehouseLocation"></select>
                            </div>
                            <div class="col-6">
                                <label for="inReorderQty" class="form-label">Re-order Quantity</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inReorderQty" value="0">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-6">
                                <button type="button" class="btn btn-warning w-100per" onclick="window.location.reload(true)">Refresh</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100per" onclick="add()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../assets/js/pages/inventoryAdd.js"></script>
}